body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: #2dae2d;
}

a:hover {
    text-decoration: underline; 
}

ul {
    list-style-type: none;
    margin-bottom: 0;
}

ul li {
    padding-bottom: 5px;
}

.wrapper {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
    border: 1px solid #eee;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
}

.header img {
    max-width: 100px;
    max-height: 100px;
}

.header ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.header ul li {
    padding: 0 10px;
}

.header ul li a {
    font-size: 1.25rem;
}

section {
    padding-bottom: 30px;
    border-bottom: 1px solid #eee;
}

code {
    padding: 10px;
    border-radius: 5px;
    background-color: #eeeeeeb8;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.footer img {
    width: 100px;
}

